main {
    display: flex;
    flex-direction: row;
}
* {
    font-family: 'Trebuchet MS', 'sans-serif';
}

header, nav, footer {
    background-color: #FF8F00;
    padding: 10px;
    text-align: right;
}

#left, #right {
    width: 50%;
    height: 400px;
}
#left {
    background-color: #FFF8E1;
}
#right {
    background-color: #ffecb3;
}

a {
    color: #ffecb3;
    margin-left: 70px;
    font-size: 180%;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

img {
    position: absolute;
    z-index: 9999;
    left: 100px;
    top: 500px;
}

#wynik {
    border: 1px dotted black;
    padding: 30px;
    margin-top: 50px;
    margin-right: 180px;
    margin-bottom: 0;
    margin-left: 50px;
}
span:nth-child(2) {
    font-size: 120%;
}
span:nth-child(4){
    font-size: 240%;
}
span:nth-child(5){
    font-size: 150%;
}
span:nth-child(7){
    font-size: 160%;
}
span:nth-child(9){
    font-size: 130%;
}
span:nth-child(10){
    font-size: 190%;
}